* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/stonehaven.png");
    height: 100vh;
    position: relative;
}

.bordered {
    border: 3px 8510olid slategray;
    background-color: #ADD9E6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h1 {
    color: slategray;
    margin-right:50px;
}

h2 {
    font-size: 30px;
    color:slategray;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-bottom: 30px;
}

a {
    color: slategray;
    text-decoration: none;
}

img {
    position: absolute;
    margin-left: 30px;
    border: 1px solid gainsboro;
    margin-right:15px;
    
}

p {
    line-height: 35px;
    margin-left:30px;
    margin-right:30px;
    margin-top:15px;
    color: slategray;
}

.page-title {
    border-bottom: solid 2px;
    text-align: left;
    margin-left:30px;
    margin-top: 30px;
    margin-right: 30px;
}
#contactbox,
#indexbox {
    position: absolute;
    margin-top: 25vh;
    left: 50%;
    background-color: #ADD9E6;
    width: 960px;
    height: 360px;
    margin-left: -480px;
    border: 3px antiquewhite solid;
}

#contactcontent,
#indexcontent {
    position: absolute;
    float: left;
    margin-top: 14px;
    margin-left:16px;
    height: 330px;
    width: 920px;
    background-color:antiquewhite;
    border: 3px gainsboro solid;
    overflow: auto;
}

#portfoliobox {
    position: absolute;
    left: 50%;
    background-color: #ADD9E6;
    width: 960px;
    height: 550px;
    margin-left: -480px;
    border: 3px antiquewhite solid;
    margin-top: 10vh;
}

#portfoliocontent {
    position: absolute;
    margin-top: 14px;
    margin-left:16px;
    height: 520px;
    width: 920px;
    background-color:antiquewhite;
    border: 3px gainsboro solid;
}

.dog {
    position: relative;
    display: block;
    float: left;
    height: 175px;
    width: 175px;
}

.tom {
    margin-top: 14px;
    margin-left:280px;
    float: left;
    width:250px;
    margin-right: 506px;
    background-color: antiquewhite;
    padding-left: 40px;
}

.about{
    margin-top: 30px;
    margin-right:16px;
    float: left;
    width: 35px;
}
.links {
    margin-top: 30px;
    margin-right:16px;
    float: left;
    width: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:antiquewhite;
    background-color: slategray;
    text-shadow: none;
    padding: 20px;
    border-top: 8px solid #ADD9E6;

}

header {
    position: fixed;
    margin-top: 0;
    bottom: 100;
    width:100%;
    padding: 0;
    margin: 0;
}

.form {
    width: 500px;
    clear: both;
    margin-left: 30px;
    margin-top: 30px;
    color: slategray;
    font-weight: bold;
}

input[type=text] {
    width: 870px;
    color: slategray;
}


input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15px;
}

#messagebox {
    height: 50px;
}

.kels {
    position: relative;
    float: left;
}

img:hover {
    opacity: 0.25;
    
}

.kels:hover {
    opacity: 1;
}





